@{
    ViewData["Title"] = "Calculator";
}

<h1>Calculator</h1>
<div class="calculator">
    <div class="display">
        <input type="text" id="result" readonly />
    </div>
    <div class="buttons">
        <button class="btnClear">AC</button>
        <button class="btnSqrt">^2</button>
        <button class="btnPerc">%</button>
        <button class="btnDiv">/</button>

        <button class="btn7">7</button>
        <button class="btn8">8</button>
        <button class="btn9">9</button>
        <button class="btnMult">*</button>

        <button class="btn4">4</button>
        <button class="btn5">5</button>
        <button class="btn6">6</button>
        <button class="btnMin">-</button>

        <button class="btn1">1</button>
        <button class="btn2">2</button>
        <button class="btn3">3</button>
        <button class="btnPlus">+</button>

        <button class="btn0">0</button>
        <button class="btnComma">.</button>
        <button class="btnEquals">=</button>
    </div>
</div>
